<div class="todos-empleados">
  <div class="container-crear-empleado">
    <button class="btn btn-primary" [routerLink]="['/empleado/crear']">Crear empleado</button>
  </div>
  <div class="empleado-row" *ngFor="let empleado of empleados">
    <div class="empleado-info">
      <div class="empleado-info-left">
        <p class="mb-0">{{empleado._nombre}} ({{empleado._tipoObjeto}})</p>
      </div>
      <div class="empleado-info-right">
        <button class="btn btn-info" [routerLink]="['/empleado/detail',empleado._dni]">Detalles</button>
        <button class="btn btn-danger" (click)="deleteCliente(empleado._dni)">Eliminar</button>
      </div>
    </div>
  </div>
</div>
