<table class="table table-active w-50 mx-auto mt-5">
  <thead style="background-color: rgba(105,193,193,0.85)">
  <tr>
    <th>Nombre</th>
    <th>DNI</th>
    <th>Teléfono</th>
  </tr>
  </thead>
  <tbody style="background-color: rgba(255,255,255,0.9)">
  <tr>
    <td>{{cliente?.nombre}}</td>
    <td>{{cliente?.dni}}</td>
    <td><input *ngIf="cliente?.telefono" type="number" [(ngModel)]="cliente.telefono"></td>
  </tr>
  </tbody>
</table>
<div class="text-center mx-auto">
  <button (click)="actualizarTlfCli()" class="btn btn-success" style="background-color: #408080">Actualizar Teléfono</button>
</div>
