/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container-form {
  margin: 3em auto;
  width: fit-content;
  background: rgba(255, 255, 255, .90);
  padding: 2em;
  border-radius: 10px;
}
